.titleHomePage{
  color: blueviolet;
}

.images{
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.imageHomePage{
  width: 50rem;
  height: 30rem;
  margin: 3rem;
}

.botao{
  padding: 5rem;
  background-color: grey;
}